apiVersion: v1
kind: Pod
metadata:
  name: myapp-pod
  labels:
    app: myapp
    type: front-end
spec:
  containers:
    - name: nginx
      image: nginx
  initContainers:
    - name: db-checker
      image: busybox
      command: 'wait-for-db-to-start.sh'

    - name: api-checker
      image: busybox
      command: 'wait-for-api-to-respond.sh'
