apiVersion: v1
kind: Pod
metadata:
  name: myapp-pod
  labels:
    app: myapp
    type: front-end
spec:
  containers:
    - image: nginx
      name: nginx
      env:
        - name: DB_password
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: DB_password

