apiVersion: v1
kind: Pod
metadata:
  name: myapp-pod
  labels:
    app: myapp
    type: front-end
spec:
  containers:
    - image: nginx
      name: nginx
      envFrom: 
      - configMapRef:
          name: app-config
